.button {
  border-radius: 8px;
  background-color: var(--color-primary-500);
  font-size: 14px;
  height: 40px;
  font-weight: 500;
  cursor: pointer;
}

.primary {
  color: #ffffff;
  padding: 8px 16px;

  &:hover:enabled {
    background-color: var(--color-primary-600);
  }

  &:disabled {
    cursor: none;
    opacity: 0.7;
    cursor: default;
  }
}

.loading {
  width: 4px;
}
